div.bx-auth input.bx-auth-input {
    vertical-align : middle;
    }

div.bx-auth span.bx-auth-secure {
    background-color : #fffae3;
    border           : 1px solid #dedbc8;
    padding          : 2px;
    display          : inline-block;
    vertical-align   : middle;
    }

div.bx-auth div.bx-auth-secure-icon {
    background-image    : url(images/sec.png);
    background-repeat   : no-repeat;
    background-position : center;
    width               : 19px;
    height              : 18px;
    }

div.bx-auth div.bx-auth-secure-unlock {
    background-image : url(images/sec-unlocked.png);
    }

div.bx-auth {
    max-width     : 600px;
    margin : 16px auto 24px;
    }
.bx-changepass-table{ margin: auto;}
div.bx-auth td{ padding: 5px}
div.bx-auth td:first-child{ text-align: right;}
