div.bx-auth-reg input.bx-auth-input {
    vertical-align : middle;
    }

div.bx-auth-reg span.bx-auth-secure {
    background-color : #fffae3;
    border           : 1px solid #dedbc8;
    padding          : 2px;
    display          : inline-block;
    vertical-align   : middle;
    }

div.bx-auth-reg div.bx-auth-secure-icon {
    background-image    : url(images/sec.png);
    background-repeat   : no-repeat;
    background-position : center;
    width               : 19px;
    height              : 18px;
    }

div.bx-auth-reg div.bx-auth-secure-unlock {
    background-image : url(images/sec-unlocked.png);
    }

.bx-auth-reg{
    max-width     : 600px;
    margin : 16px auto 24px;}
.bx-auth-reg .btn{ width: 100%;}
.bx-auth-reg td:first-child{ text-align: right; padding-right: 5px;}
.bx-auth-reg td{ padding: 5px}
.starrequired{ color: red; margin: 0 3px}
